<div class="box box-default" *ngIf="clientData.length != 0">
    <div class="box-body">
        <div class="box-body">
            <table id="tblBrand" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Sr#</th>
                        <th>Client Name</th>
                        <th>Description</th>
                        <th>Person Name</th>
                        <th>Mobile Number</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of clientData;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{obj.ClientName}}
                        </td>
                        <td>{{obj.Description}}</td>
                        <td>{{obj.PersonName}}</td>
                        <td>{{obj.MobileNumber}}</td>
                        <td>
                            <i *ngIf="obj.IsActive == true" class="fa fa-check"></i>
                            <i *ngIf="obj.IsActive == false" class="fa fa-times"></i>
                        </td>
                        <td>
                            <a class="btn btn-primary" (click)="modifyClientName(obj)">Edit</a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>